<!--<h1>
</h1>
<app-eventmaster></app-eventmaster>
<router-outlet></router-outlet>-->


<div class="wrapper">
    <div class="sidebar" data-color='red' data-image="">
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
        <!--<dashboard-cmp></dashboard-cmp>-->
        <!--<div *ngIf="isMaps('/maps')">
            <footer-cmp></footer-cmp>
        </div>-->
        <footer-cmp></footer-cmp>
    </div>
</div>
